<!DOCTYPE html>
<html lang=zh>

<head>
    <title>生成密码</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="generate-password">
        <v-app>

            <v-navigation-drawer v-model="drawer" app>
                <v-list>
                    <v-subheader>Informer</v-subheader>
                    <v-list-item-group>
                        <v-list-item href="/">
                            首页
                        </v-list-item>
                        <v-list-item href="/libraries.html">
                            保存的密码
                        </v-list-item>
                        <v-list-item href="/login.html">
                            登录
                        </v-list-item>
                        <v-list-item href="/logout.html">
                            注销
                        </v-list-item>
                        <v-list-item href="/change-password.html" disabled>
                            修改密码
                        </v-list-item>
                        <v-list-item href="/change-master-password.html">
                            修改主密码
                        </v-list-item>
                        <v-list-item href="/generate-password.html">
                            生成密码
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar app>
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>
                    {{ title }}
                </v-toolbar-title>
            </v-app-bar>

            <v-main>
                <v-container>
                    <v-text-field v-model="generatedPassword" label="密码" type="text"></v-text-field>
                    <v-btn @click="generatePassword" label="Generate Password">重新生成密码</v-btn>
                </v-container>
            </v-main>

        </v-app>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script>
    let generatePassword = new Vue(
        {
            el: '#generate-password',
            vuetify: new Vuetify(),
            data: {
                drawer: null,
                title: '生成密码',
                generatedPassword: ''
            },
            methods: {
                generatePassword: function () {
                    self = this
                    axios.get('/api/generate-password').then(function (response) {
                        if (response.status == 200) {
                            self.generatedPassword = response.data['password']
                        }
                    })
                }
            }
        }
    )
</script>

</html>
