<!DOCTYPE html>
<html lang="en">

<head>
    <title>Informer 保存的密码</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="libraries">
        <v-app>

            <v-navigation-drawer v-model="drawer" app>
                <v-list>
                    <v-subheader>Informer</v-subheader>
                    <v-list-item-group>
                        <v-list-item href="/">
                            首页
                        </v-list-item>
                        <v-list-item href="/libraries.html" disabled>
                            保存的密码
                        </v-list-item>
                        <v-list-item href="/login.html">
                            登录
                        </v-list-item>
                        <v-list-item href="/logout.html">
                            注销
                        </v-list-item>
                        <v-list-item href="/change-password.html">
                            修改密码
                        </v-list-item>
                        <v-list-item href="/change-master-password.html">
                            修改主密码
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>

            <v-app-bar app>
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>
                    {{ title }}
                </v-toolbar-title>
            </v-app-bar>

            <v-main>
                <v-container>
                    <v-data-table :headers="tableHeaders" :items="secures" item-key="primaryKey">
                        <template v-slot:top>
                            <v-toolbar flat>
                                <v-spacer></v-spacer>
                                <v-dialog v-model="dialog.inputKey">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on">
                                            刷新
                                        </v-btn>
                                    </template>
                                    <v-card>
                                        <v-card-title>
                                            <span>请输入主密码</span>
                                        </v-card-title>

                                        <v-card-text>
                                            <v-container>
                                                <v-text-field v-model="key" type="password" label="key"></v-text-field>
                                            </v-container>
                                        </v-card-text>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn text @click="closeInputKeyDialog">
                                                取消
                                            </v-btn>
                                            <v-btn color="blue darken-1" text @click="fetchSecure">
                                                确定
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                            </v-toolbar>

                            <v-dialog v-model="dialog.delete">
                                <v-card>
                                    <v-card-title class="headline">此操作不可撤销，是否删除？</v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn text @click="closeDeleteConfirmDialog">取消</v-btn>
                                        <v-btn color="blue darken-1" text @click="deleteSecureConfirm">确定</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-icon small class="mr-2" @click="beforeUpdateSecure(item)">
                                mdi-pencil
                            </v-icon>
                            <v-icon small @click="deleteSecure(item)">
                                mdi-delete
                            </v-icon>
                        </template>
                    </v-data-table>
                </v-container>
            </v-main>

        </v-app>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    //Redirect to login page if doesn't logged in
    axios.interceptors.response.use(
        response => {
            return response
        },
        error => {
            if (error.response.status === 403) {
                alert('未登录，将跳转到登录页面')
                window.location.href = "/login.html"
            }
            return error
        }
    )

    const libraries = new Vue({
        el: '#libraries',
        vuetify: new Vuetify(),
        data: {
            title: '保存的密码',
            drawer: null,
            key: '',
            secures: [],

            deleteArray: [],

            dialog: {
                add: false,
                delete: false,
                inputKey: false,
                update: false
            },

            tableHeaders: [{
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id'
            }, {
                text: 'Platform',
                sortable: false,
                value: 'platform'
            }, {
                text: 'Friendly Name',
                sortable: false,
                value: 'friendlyName'
            }, {
                text: 'Username',
                sortable: false,
                value: 'username'
            }, {
                text: 'Password',
                sortable: false,
                value: 'password'
            }, {
                text: 'OTP',
                sortable: false,
                value: 'otp'
            }, {
                text: 'OTP Type',
                sortable: false,
                value: 'otpType'
            }, {
                text: 'Actions',
                value: 'actions',
                sortable: false
            },]
        },
        methods: {
            deleteSecure: function (item) {
                this.deleteArray.push(item.primaryKey)

                this.openDeleteConfirmDialog()
            },
            deleteSecureConfirm: function () {
                let deleteArrayMap = {
                    primaryKey: this.deleteArray
                }
                console.log(deleteArrayMap)
                let deleteArrayJson = JSON.stringify(deleteArrayMap)
                console.log(deleteArrayJson)
                axios.post('/api/libraries/remove', deleteArrayJson).then(
                    function (response) {
                        if (response.status == 200) {
                            alert('删除成功')
                        } else {
                            alert('删除失败')
                        }
                    }
                )

                this.closeDeleteConfirmDialog()
                this.fetchSecure()
            },
            openDeleteConfirmDialog: function () {
                this.dialog.delete = true
            },
            closeDeleteConfirmDialog: function () {
                this.dialog.delete = false
            },

            fetchSecure: function () {
                const url = '/api/libraries?key=' + this.key

                if (this.key.length == 0) {
                    this.openInputKeyDialog()
                    return
                } else {
                    this.closeInputKeyDialog()
                }

                this.secures.length = 0

                const self = this
                axios.get(url)
                    .then(function (response) {
                        let responseData = response.data

                        Object.keys(response.data).map((key) => {
                            self.secures.push({
                                primaryKey: key,
                                id: responseData[key].id,
                                platform: responseData[key].platform,
                                friendlyName: responseData[key].friendlyName,
                                username: responseData[key].username,
                                password: responseData[key].password,
                                otp: responseData[key].otp,
                                otpType: responseData[key].otyType
                            })
                        }
                        )
                    })
            },
            openInputKeyDialog: function () {
                this.dialog.inputKey = true
            },
            closeInputKeyDialog: function () {
                this.dialog.inputKey = false
            }
        }
    })

    libraries.$vuetify.theme.dark = window.matchMedia('(prefers-color-scheme: dark)').matches

    libraries.fetchSecure()
</script>
